.aside {
	position: sticky;
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	justify-content: center;
	box-sizing: border-box;
}


.material-icons,
.material-icons-outlined {
	cursor: pointer;
}

.side-bar-menu {
	font-size: 1.25rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1rem 3rem;
	color: var(--font-color);
	text-decoration: none;
}

.menu-text {
	margin-left: 1.5rem;
}

.active-link {
	color: var(--brand-color);
}
