.user-card-heading{
    font-size:1.5rem;
    font-weight: bold;
}

.profile-page{
    padding: 1rem;
	box-sizing: border-box;
}

.profile-div{
    width: 350px;
    height: max-content;
    border: 1px solid var(--brand-color);
    padding: 1rem;
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
    border-radius: 10px;
}

.mt-3{
    margin-top:0.75rem;
}

.profile-div div,
.profile-div p{
    letter-spacing: 1px;
}


