@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');

*{
    font-family: 'Albert Sans', sans-serif;
    margin:0px;
    padding:0px;
}

.app{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-background-color);
    color: var(--font-color);
}

.main-page{
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    box-sizing: border-box;
    min-height: 100vh;
    height: auto;
    position: relative;
    padding-top: 8rem;
    border-left: 1px solid var(--light-border-color);
}


@media only screen and (min-width:284px) and (max-width:767px){  
	.main-page{
        margin-left:0px;
    }

    .aside{
        display: none;
    }

}





