@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');

*{
    font-family: 'Albert Sans', sans-serif;
    margin:0px;
    padding:0px;
}

.app{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-background-color);
    color: var(--font-color);
}

.main-page{
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:2rem;
    flex-grow: 1;
    box-sizing: border-box;
    height: 100vh;
}






